*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
    margin-top: 10%;
}
.service{
    font-size: 50px;
}
#best{
    color: #23A6F0;
    font-size: 90px;
}
button{
    margin: 7%;
    padding: 20px;
    background-color: #23A6F0;
    border-radius: 20px;
}
a{
    color: black;
}