@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins&family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --border-radius: 4px;

    font-family: 'Poppins', sans-serif;
}

.main-container {
    width: 800px;
    max-width: 800px;
    margin: 1rem;
    padding: 2rem;
    margin-left: 260px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.main-container,
.form-input-group,
.form__button {
    font: 500 1rem 'Montserrat', sans-serif;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 800;
    margin-top: 1rem;
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    /*not important*/
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

/* This adds the button search functionality */

::selection{
    color: #fff;
    background: #664AFF;
  }
  .wrapper{
    max-width: 450px;
    margin: 70px auto;
  }

  .wrapper .main-text {
    margin: 20px auto;
    text-align: center;
    color: rgb(1, 255, 242);
  }

  .wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
  }

  .payment-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  /* this section adds styling for the payment icon*/
.payment-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
}

.payment-icons .icon1 {
  border: none;
}
