@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins';
  }
  :root {
    color:#23a6f0;
    color: #252b42;
  }
  body{
    background-image: url(/Bus_Paying_App/images/_.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .login{
    width: 100%;
    background: #55A7F0;
    position: relative;
    max-width: 500px;
    padding: 30px;
    border-radius: 5px;
    height: 61vh;
    top: 100px;      
    
}
.login::before{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;

}
/*style the h1 element*/
header{
  position: relative;
  top: -300px;
  left: 300px;
}
.login h2{
  text-align: center;
}
.login form{
  margin-top: 30px;

}
.input-box{
  height: 50px;
  margin: 20px 0;

}
form .input-box input{
height: 100%;
width: 100%;
outline: none;
padding: 0 15px;
font-size: 17px;
font-weight: 400;
color: #252b42;
border: 1.5px solid white;
border-bottom-width: 2.5px;
border-radius: 6px;
transition: all 0.3s ease;
}
.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: white;
  color: #252b42;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  width: 12em;
  padding: 10px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 20px 0 0 0;
  margin-left: 150px;
 }
 .button input{
   cursor: pointer;
   background: white;
   border: none;
   color: #252b42;
   font-size: 15px;
 }
 .member{
  padding: 30px;
} 
.member a{
   color: white;
}

.forget{
  padding: 30px;
}
.forget a{
  color: #252b42;
}