*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
    margin-top: 10%;
}
.service{
    font-size: 50px;
}
#best{
    color: #23A6F0;
    font-size: 90px;
}
.links{
    margin: 5%;
}
a{
    color: black;
}
.button{

    padding: 20px;
    background-color: #23A6F0;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 10%;
}
.button:hover{

}
