@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #23A6F0;
    height: 150px;

}

.profile-header h1 {
    flex-grow: 2;
    text-align: center;
}

.signout {
    margin-right: 40px;

}

.signout a {
    color: black;
    text-decoration: none;
    font-weight: 500;

}

.passenger-details {
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;

}

.avatar {
    width: 30%;
    margin-top: -110px;
}

.avatar .profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.avator img {
    width: 100%;
    text-align: center;
}

.avatar p {
    font-weight: 400;
    margin: 30px;
}


.personal-info {
    width: 70%;
    margin-left: 150px;
}

.personal-info p {
    padding-top: 20px;
}

.routes {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.routes h3 {
    padding: 20pxs;
    margin-bottom: 50px;
}

.routes-used {
    background-color: #f5f5f5;
    padding: 20px;
}

.routes .westlands {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding-top: 10px;
    justify-content: space-between;
}

.routes .westlands p {
    font-weight: 400;
    font-size: 10px;
}

.routes .westlands img {
    border-radius: 50%;
    overflow: hidden;
    background-color: #f5f5f5;
    width: 30px;
    height: 30px;
}

.routes .kitengela {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding-top: 10px;
    justify-content: space-between;
}

.routes .kitengela p {
    font-weight: 400;
    font-size: 10px;
}

.routes .kitengela img {
    border-radius: 50%;
    overflow: hidden;
    background-color: #f5f5f5;
    width: 30px;
    height: 30px;
}

.transactions {
    margin: 50px;
}

.transactions h3 {
    font-weight: 700;
    margin-left: 50px;
}

.transactions .payments {
    background-color: #f5f5f5;
    margin: 50px;
    padding: 20px;

}

.pay1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.payments .pay1 img {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;

}

.pay2 {
    display: flex;
    flex-direction: row;
    padding: 20px;

}

.payments .pay2 img {
    width: 50px;
    /* height: 35px; */
    border-radius: 50%;
    overflow: hidden;
}

.payments p {
    padding-left: 100px;
    font-size: 15px;
    font-weight: 400;
}
